.Bottom {
    width: 70vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.graphContainer {
    border: 2px solid white;
    width: 100%;
    height: 100%;
}

#graph {
    width: 100%;
    height: 100%;
}