.Top {
    margin: 0 0 35px 0;
}

.currentPrice {
    text-align: center;
}

.bottomPrice {
    position: relative;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
}

.priceTableContainer {
    border: 2px solid white;
    border-radius: 25px;
    display: flex;
}

th, td {
    padding: 10px 50px;
}

td {
    text-align: center;
}

.selectContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -150px;
    align-items: center;
}

.selector {
    width: fit-content;
    margin-top: 5px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.selector option {
    background-color: #242b36;
}
